/* variables */

:root {
  --basic-blue-lighter: #F1F5F7;
  --basic-blue-light: #405069;
  --basic-blue: #32425C;
  --basic-blue-dark: #293449;
  --basic-blue-darker: #212A3A;

  --basic-grey-lighter: #f9f5f0;
  --basic-grey-light: #e5e5e5;
  --basic-grey: #c5c5c5;
  --basic-grey-dark: #a9a9a9;

  --basic-red: #EE3643;
  --basic-red-dark: #BA2732;
  --basic-red-darker: #8E1E26;

  --basic-green-light: #5FBB2D;
  --basic-green: #63A63E;
  --basic-green-dark: #518534;
  --basic-green-darker: #367315;

  --basic-yellow: #FFD180;
  --basic-white: #ffffff;
  --basic-black: #000000;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-green: #8ED78F;
  --special-grey: #f7f3ec;
  --special-blue-light: #f2f6f8;
}

/* global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* grid */

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header-top logo */

.header {
  background-color: var(--basic-blue-lighter);
  font-family: "Cuprum", Arial, sans-serif;
  padding-bottom: 60px;
}
.header-top {
  background-color: var(--basic-blue-dark);
}
.header-top .container {
  font-size: 18px;
  display: grid;
  grid-template-columns: 220px 216px 1fr;
  min-height: 41px;
}
.header-logo {
  padding-top: 12px;
  position: relative;
}
.header-logo::after,
.footer-logo::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: var(--basic-red-dark);
}
.header-logo,
.footer-logo {
  background-color: var(--basic-red);
  text-align: center;
}
.header-logo:active,
.footer-logo:active {
  background-color: var(--basic-red-dark);
}
.header-logo:active::after,
.footer-logo:active::after {
  background-color: var(--basic-red-darker);
}

/* header-top search */

.search {
  font: inherit;
  background-color: transparent;
  border: none;
  height: 41px;
  width: 216px;
  padding-left: 42px;
  background-repeat: no-repeat;
  background-position: 16px 12px;
  color: var(--basic-white);
}
.search::-webkit-input-placeholder {
  color: var(--basic-white);
}
.search::-moz-placeholder {
  color: var(--basic-white);
}
.search::placeholder {
  color: var(--basic-white);
}
.search:active::-webkit-input-placeholder,
.search:focus::-webkit-input-placeholder {
  color: var(--basic-black);
}
.search:active::-moz-placeholder,
.search:focus::-moz-placeholder {
  color: var(--basic-black);
}
.search:active::placeholder,
.search:focus::placeholder {
  color: var(--basic-black);
}
.search:active, .search:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  background-repeat: no-repeat;
  background-position: 16px 12px;
  outline: none;
}
.form-search {
  position: relative;
}
.icon-search {
  position: absolute;
  top: 12px;
  left: 16px;
}
.icon-search path {
  opacity: 0.3;
}
.search:hover ~ .icon-search path {
  opacity: 1;
}
.search:focus ~ .icon-search path,
.search:active ~ .icon-search path {
  fill: var(--basic-red);
}

/* header-top basket-content */

.basket-content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.basket-content .button {
  color: var(--basic-white);
  padding-top: 10px;
  padding-bottom: 9px;
}
.basket-content .button:hover::before,
.basket-content .button:focus::before {
  opacity: 1;
}
.basket-content .button:active::before,
.basket-content .button:active::before {
  opacity: 0.3;
}
.basket-content .button:active {
  background-color: var(--basic-blue-darker);
  color: rgba(255, 255, 255, 0.5);
}
.basket-content .button-deferred,
.basket-content .button-basket {
  position: relative;
  padding-left: 48px;
  padding-right: 26px;
}
.basket-content .button-deferred::before,
.basket-content .button-basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 25px;
  width: 14px;
  height: 16px;
}
.basket-content .button-deferred::before {
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.basket-content .button-basket::before {
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.basket-content .button-checkout {
  background-color: var(--basic-green);
  padding-left: 18px;
  padding-right: 18px;
}
.basket-content .button-checkout:hover,
.basket-content .button-checkout:focus {
  background-color: var(--basic-green-light);
}
.basket-content .button-checkout:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}
.button-full-basket {
  background-color: var(--basic-red);
}

/* header-content */

.header-content {
  display: grid;
  grid-template-columns: 300px 270px 1fr;
  -moz-column-gap: 20px;
     column-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.header-content h1, .header-content h2 {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: var(--basic-red);
  padding-left: 30px;
  padding-top: 43px;
}
.header-content .address {
  display: block;
  font-size: 14px;
  color: var(--basic-blue);
  padding-top: 2px;
  padding-left: 10px;
}
.header-content .phone-number {
  display: block;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: solid 3px var(--basic-white);
  min-height: 45px;
  margin-top: 46px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 71px;
  padding-right: 0px;
  position: relative;
}
.header-content .phone-number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 37px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* header-content user-block-input */

.user-block-input .button, .user-block-output .button {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px;
}
.user-block-input .button-login {
  padding-left: 19px;
  padding-right: 25px;
}
.button-login svg {
  padding-right: 5px;
}
.user-block-input .button-login:hover path,
.user-block-input .button-login:focus path,
.user-block-output .button-user:hover path,
.user-block-output .button-user:focus path,
.user-block-output .button-output:hover path,
.user-block-output .button-output:focus path {
  fill: var(--basic-blue);
}
.user-block-input .button-login:active path,
.user-block-output .button-user:active path,
.user-block-output .button-output:active path {
  fill: var(--basic-grey);
}
.user-block-input .button:not(:first-child) {
  margin-left: 10px;
}
.user-block-input .button:hover,
.user-block-input .button:focus,
.user-block-output .button:hover,
.user-block-output .button:focus
 {
  color: var(--basic-red);
}
.user-block-input .button:active,
.user-block-output .button:active {
  color: var(--basic-grey);
}
.user-block-input {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 46px;
}

/* header-content user-block-output */

 .user-block-output {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 46px;
}
.user-block-output a {
  display: block;
}
.button-group {
  display: flex;
}
.user-block-output .button-user {
  padding-right: 0px;
}
.button-user svg {
   padding-right: 15px;
}
.user-block-output .button-output {
  width: 45px;
  padding-bottom: 0;
  padding-top: 16px;
  padding-right: 4px;
  padding-left: 8px;
}
.account-block {
  flex-wrap: wrap;
  align-self: center;
}
.account-block .link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  padding-top: 7px;
  position: relative;
}
.account-block .link:hover,
.account-block .link:focus {
  color: var(--basic-red);
}
.account-block .link:active {
  color: var(--basic-grey);
}
.account-block .link:not(:last-child) {
  margin-right: 30px;
}
.account-block .link:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -18px;
  width: 6px;
  height: 6px;
  background-color: var(--basic-blue);
  border-radius: 50%;
}

/* header-navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  min-height: 55px;
  padding: 0 23px;
  margin: 0;
  background-color: var(--basic-blue);
  border-bottom: 5px solid var(--basic-blue-dark);
}
.site-navigation a {
  color: var(--basic-white);
  font-size: 18px;
  display: block;
  padding: 16px 28px;
}
.site-navigation a:hover,
.site-navigation a:focus  {
    background-color: var(--basic-blue-dark);
}
.site-navigation a:active  {
    background-color: var(--basic-blue-darker);
    opacity: 0.5;
}

/* promo-block */

.promo-block {
  font-family: Cuprum;
  color: var(--basic-white);
  margin: 59px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.promo-block li {
  list-style: none;
  padding: 21px;
  padding-top: 20px;
}
.promo-block h3 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
}
.promo-block a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  width: 135px;
  padding: 10px 0;
}
.promo-block a:hover,
.promo-block a:focus {
  background: rgba(197,197,197,.3);
}
.promo-block a:active {
  background: rgba(169,169,169,.3);
}
.promo-block .promo-item {
  position: relative;
}
.promo-block .promo-item.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-materials {
  background-color: var(--special-yellow);
  background-image: url("../img/promo-materials.svg");
  background-repeat: no-repeat;
  background-position: 210px 30px;
}
.promo-tools {
  background-color: var(--special-blue);
  background-image: url("../img/promo-tools.svg");
  background-repeat: no-repeat;
  background-position: 193px 35px;
}
.promo-technique {
  background-color: var(--special-lilac);
  background-image: url("../img/promo-technique.svg");
  background-repeat: no-repeat;
  background-position: 193px 33px;
}
.promo-discount {
  background-color: var(--special-green);
  background-image: url("../img/promo-discount.svg");
  background-repeat: no-repeat;
  background-position: 195px 30px;
}
.promo-delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/promo-delivery.svg");
  background-repeat: no-repeat;
  background-position: 193px 32px;
}

/* promo-block slider */

.promo-slider {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--basic-grey);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-slider a {
  min-width: 140px;
  position: absolute;
  bottom: 27px;
  background-color: var(--basic-red);
  padding-left: 26px;
  padding-right: 26px;
}
.promo-slider a:hover,
.promo-slider a:focus {
  background-color: var(--basic-red);
}
.promo-slider a:active {
  background-color: var(--basic-red-dark);
}
.slider-item {
  display: none;
}
.slider-current {
  display: block;
}
.site-wrapper-1 {
  background-color: var(--basic-grey);
  background-image: url("../img/perforator.jpg");
}
.site-wrapper-2 {
  background-color: var(--basic-grey);
  background-image: url("../img/drill.jpg");
}
.promo-slider ul {
  padding: 0;
}
.promo-slider li {
  list-style: none;
  padding: 0;
}
.slider-item h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.slider-item p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.slider-arrows {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.slider-arrows .button {
  width: 22px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}
.button-back {
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button-forward {
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider-controls {
  position: absolute;
  bottom: 28px;
  left: 290px;
}
.slider-controls .button {
  margin: 5px;
  padding: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-white);
  cursor: pointer;
}
.slider-controls .current {
  background-color: var(--basic-red);
}
.slider-arrows .button:focus,
.slider-controls .button:focus {
  outline: none;
}

/* popular-products */

.popular-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
}

/* popular-manufacturers */

.popular-manufacturers {
  padding-bottom: 70px;
}
.popular-manufacturers ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.popular-manufacturers li {
  list-style: none;
  border: solid 1px var(--basic-grey-light);
  }
.popular-manufacturers li:hover,
.popular-manufacturers li:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }
.popular-manufacturers li:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.popular-manufacturers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 144px;
}

/* services */

.services {
  background-color: var(--basic-blue-lighter);
  padding-top: 64px;
  padding-bottom: 95px;
}
.services p {
  padding-top: 13px;
}
.services .button-slider {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border-bottom: 1px solid var(--basic-blue-dark);
  border-top: 1px solid var(--basic-blue-light);
}
.services .button-slider:hover,
.services .button-slider:focus {
  background-color: var(--basic-blue-dark);
  outline: none;
}
.services .button-slider.active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
  border-top: 1px solid var(--basic-white);
}
.services-slider {
  display: grid;
  grid-template-columns: 240px 1fr;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-top: 17px;
}
.slider-navigation {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  padding-top: 50px;
}
.slider-navigation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../img/line-with-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
}
.services-slider article {
  display: none;
  width: 320px;
  padding-top: 50px;
  padding-left: 20px;
}
.services-slider p {
  padding-top: 15px;
}
.services-slider .slide-current {
  display: block;
}
.services-slider-1 {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 470px 67px;
}
.services-slider-2 {
  background-image: url("../img/garantiya.png");
  background-repeat: no-repeat;
  background-position: 550px 40px;
}
.services-slider-3 {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 450px 40px;
}
.services-slider .button-credit {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 10px 40px;
  border-radius: 2px;
}
.services-slider .button-credit:active {
  background-color: var(--basic-red-dark);
}

/* company, contact */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
}
.company {
  width: 460px;
}
.company p, .contacts p {
  margin: 0;
  margin-top: 25px;
}
.transport-company {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 12px;
  padding: 0;
}
.transport-company li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  list-style: none;
  padding-bottom: 12px;
  padding-left: 38px;
  position: relative;
}
.transport-company li::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 11px;
  left: 0px;
  background-color: var(--basic-red);
}
.company .button {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 11px;
}
.contacts {
  width: 300px;
}
.contacts p {
  margin-bottom: 30px;
}
.contacts .button {
  display: block;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 18px;
}
.company .button,
.contacts .button,
.popular-products .button,
.title-block .button,
.promo-perforators .button {
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}
.company .button:active,
.contacts .button:active,
.header-top
.button-full-basket:active,
.promo-perforators
.button:active {
  background-color: var(--basic-red-dark);
}

/* breadcrumbs */

.breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  list-style: none;
  text-transform: uppercase;
  line-height: 18px;
  position: relative;
  padding-right: 41px;
  padding-top: 21px;
  padding-bottom: 20px;
}
.breadcrumbs li:first-child {
  width: 14px;
  height: 12px;
  background-color: var(--basic-grey);
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 25px;
}
.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 14px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.breadcrumbs a {
  color: inherit;
}

/* filter-and-catalog */

.filter-and-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

/* filter */

.filter h2 {
  font: inherit;
  text-transform: uppercase;
  background-color: var(--special-grey);
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 18px;
}
.filter form {
  display: grid;
  gap: 16px;
}
.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.filter ul {
  padding-left: 35px;
}
.filter li {
  list-style: none;
}
.filter .button {
  font: inherit;
  line-height: 18px;
  background-color: transparent;
  border: solid 1px var(--basic-grey-light);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
.filter .button:hover,
.filter .button:focus {
  border-color: var(--basic-grey);
  outline: none;
}
.filter .button:active {
  border-color: var(--basic-red);
}

/* filter price */

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 44px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 7px;
  margin-bottom: 9px;
  border-radius: 2px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 78%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 33px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 159px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.price-controls input {
  width: 65px;
  padding: 10px;
  padding-left: 23px;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
}
.price-controls span {
  padding-top: 7px;
}

/* filter checkbox */

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
  padding-top: 5px;
  padding-bottom: 15px;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 3px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox + label:active::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::after,
.filter-input-checkbox:checked + label:active::after {
  opacity: 1;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--basic-grey);
}
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled + label {
  opacity: 0.4;
}

/* filter radio */

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 1px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -35px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}
.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before,
.filter-input-radio + label:active::before,
.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after,
.filter-input-radio:checked + label:active::after {
  opacity: 1;
}
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after,
.filter-input-radio:disabled + label,
.filter-input-radio:checked:disabled + label {
  opacity: 0.4;
}
.filter-supply legend {
  margin-bottom: 9px;
}
.filter-supply ul {
  margin-bottom: 6px;
}

/* sorting */

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 19px;
}
.sorting .button {
  margin-left: 12px;
}
.sorting .button path {
  fill: var(--basic-grey);
}
.sorting .button:hover path,
.sorting .button:focus path,
.sorting .button.active:hover path,
.sorting .button.active:focus path {
  fill: var(--basic-black);
}
.sorting .button.active path {
  fill: var(--basic-red);
}
.sorting .link {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  line-height: 0.85;
  border-bottom: 1px dotted var(--basic-red);
}
.sorting .link:first-child {
  margin-left: 60px;
}
.sorting .link.active {
  color: var(--basic-red);
  border: 0;
}
.sorting .link:hover,
.sorting .link:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

/* catalog */

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 17px;
}
.catalog-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 1px var(--basic-grey-light);
  text-align: center;
  padding: 21px 18px;
  position: relative;
  min-height: 273px;
}
.catalog-article img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  height: 128px;
}
.catalog-article h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 7px;
}
.catalog-article p {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-grey-dark);
  margin: 0;
  margin-bottom: 49px;
}
.catalog-article .button-price {
  position: relative;
}
.catalog-article .button-price::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -12px;
  width: 26px;
  height: 26px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}
.catalog-article .button-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 32px;
  padding-right: 27px;
  position: absolute;
  left: 44px;
  bottom: 19px;
  border-radius: 3px;
}
.catalog-article .button {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 2px;
}
.catalog-article .button-buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  border-bottom: 3px solid var(--basic-green-darker);
  margin-bottom: 10px;
  margin-top: 15px;
  position: relative;
  padding-top: 7px;
  padding-bottom: 3px;
  padding-left: 10px;
}
.catalog-article .button-buy::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.catalog-article .button-buy:hover,
.catalog-article .button-buy:focus {
  background-color: var(--basic-green-light);
}
.catalog-article .button-buy:active {
  background-color: var(--basic-green-dark);
}
.catalog-article .button-deferred {
  color: var(--basic-blue);
  border: solid 3px var(--basic-green);
  background-color: var(--basic-white);
  padding-top: 5px;
  padding-bottom: 3px;
}
.catalog-article .button-deferred:hover,
.catalog-article .button-deferred:focus {
  border-color: var(--basic-blue);
}
.catalog-article .button-deferred:active {
  opacity: 0.5;
}
.catalog-article.new-product::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* catalog-button-group-hover */

.catalog-button-group-hover {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 41px;
}
.catalog-button-group-hover a {
  box-sizing: border-box;
  display: block;
  width: 135px;
}
.catalog-article:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.catalog-article:hover .catalog-button-group-hover {
  display: flex;
}
.catalog-article:hover img {
  opacity: 0;
}

/* pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 56px;
}
.pagination a {
  display: block;
  font: inherit;
  color: inherit;
  line-height: 18px;
  border: solid 1px var(--basic-grey-light);
  border-radius: 2px;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-bottom: 3px;
}
.pagination a:last-child {
  padding-left: 31px;
  padding-right: 31px;
}
.pagination a:not(:last-child) {
  margin-right: 10px;
}
.pagination a:hover,
.pagination a:focus {
  border: solid 1px var(--basic-grey);
}
.pagination a:active {
  border: solid 1px var(--basic-red);
}
.pagination .active {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* about-perforators */

.about-perforators {
  background-color: var(--basic-blue-lighter);
  padding-top: 64px;
  padding-bottom: 55px;
}
.about-perforators .title {
  padding-bottom: 12px;
}

/* footer-top */

.footer {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
}
.footer-top {
  background-color: var(--basic-blue);
  min-height: 193px;
}
.footer-top .container {
  display: grid;
  grid-template-columns: 330px 1fr;
  gap: 20px;
}

/* footer-top footer-contact */

.footer-logo {
  display: block;
  position: relative;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 14px;
}
.footer-contact p {
  font-size: 18px;
  margin-top: 27px;
}
.footer-contact .phone-number {
  color: var(--basic-white);
}

/* footer-top nav */

.footer-top nav {
  display: grid;
}
.footer-top ul {
  padding: 0;
  margin: 0;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer-top li {
  display: block;
  list-style: none;
  padding-top: 8px;
  padding-bottom: 9px;
}
.footer-top li:not(:first-child) {
  padding-left: 60px;
}
.footer-top a {
  font-size: 18px;
}
ul.footer-site-navigation {
  margin-top: 30px;
}
.footer-site-navigation a {
  color: var(--basic-white);
}
.footer-navigation li {
  padding-top: 0;
}
.footer-navigation a {
  color: var(--basic-yellow);
}
.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.footer-navigation a:hover,
.footer-navigation a:focus  {
  text-decoration: underline;
}
.footer-site-navigation a:active,
.footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

/* footer-bottom */

.footer-bottom {
  background-color: var(--basic-blue-dark);
  font-size: 16px;
  line-height: 18px;
  padding-top: 36px;
}
.footer-bottom .container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 30px;
}
.footer-bottom p,
.footer-bottom ul {
  margin: 0;
  padding: 0;
}
.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-social li {
  list-style: none;
  margin: 2px;
}
.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--basic-blue-darker);
  border-radius: 50%;
}
.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: var(--basic-red);
}
.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}
.footer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}
.footer-link {
  display: block;
  color: var(--basic-yellow);
}
.index-columns h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}
.footer-bottom .footer-feedback {
  padding-left: 22px;
}
.footer-bottom .footer-developer {
  padding-left: 35px;
}

/* title and color title */

.title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 15px;
}
.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 17px;
  margin-bottom: 20px;
}
.title-block .button {
  width: 192px;
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 14px;
}
.title-block .button:active {
  background-color: var(--basic-red-dark);
}
.title-calalog {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}
.text-basic-blue {
  color: var(--basic-blue);
}
.color-basic-grey-lighter {
  background-color: var(--basic-grey-lighter);
}
.color-special-blue-light {
  background-color: var(--special-blue-light);
}
.color-special-grey {
  background-color: var(--special-grey);
}

/* button */

.button {
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  border: none;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}
.modal-content {
  text-align: center;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.modal-command-buttons {
  background-color: var(--basic-grey-light);
  display: flex;
  justify-content: center;
  padding-top: 37px;
  padding-bottom: 37px;
}
.modal-command-buttons .button {
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  text-transform: uppercase;
  width: 192px;
}

/* modal-map */

.modal-map {
  display: none;
  width: 943px;
  height: 449px;
}
.modal-map iframe {
  background-image: url("../img/map-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

/* modal-feedback */

.modal-feedback {
  display: none;
  width: 620px;
  height: 430px;
}
.modal-feedback form {
  display: grid;
}
.modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin: 40px auto;
}
.modal-content label {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  margin-bottom: 11px;
}
.modal-content input,
.feedback-content textarea {
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  border: 2px solid var(--basic-grey);
  border-radius: 2px;
  font: inherit;
}
.modal-content input {
  margin-bottom: 13px;
  width: 220px;
}
.feedback-content textarea {
  margin-bottom: 0;
  width: 100%;
  min-height: 114px;
}
.modal-content input::-webkit-input-placeholder,
.feedback-content textarea::-webkit-input-placeholder {
  color: var(--basic-grey-dark);
}
.modal-content input::-moz-placeholder,
.feedback-content textarea::-moz-placeholder {
  color: var(--basic-grey-dark);
}
.modal-content input::placeholder,
.feedback-content textarea::placeholder {
  color: var(--basic-grey-dark);
}
.modal-command-buttons {
  padding-left: 80px;
  padding-right: 80px;
}
.modal-command-buttons .modal-feedback-button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 100%;
}
.modal-feedback-button:active,
.modal-feedback-button:focus {
  background-color: var(--basic-red-dark);
  outline: none;
}

/* modal-added-to-cart */

.modal-added-to-cart {
  display: none;
  width: 620px;
  height: 282px;
}

.modal-added-to-cart h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 95px;
  margin: 0;
}
.modal-added-to-cart h2::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.modal-command-buttons a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin-right: 10px;
}
.modal-added-to-cart-button {
  background-color: var(--basic-white);
}

/* modal all */

.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
